[submodule "extern/enhanced-ruby-mode"]
	path = extern/enhanced-ruby-mode
	url = https://github.com/zenspider/enhanced-ruby-mode
[submodule "distel"]
	path = distel
	url = git@github.com:massemanet/distel.git
[submodule "lisp/rebar.el"]
	path = rebar.el
	url = git@github.com:leoliu/rebar.el.git
